<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.rain.mapper.UserMapper">
    <resultMap id="userMapper" type="com.breeze.rain.model.User">
        <id property="id" column="id" jdbcType="INT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="com.breeze.rain.model.Role">
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="selectOneWithRoleByUsername" parameterType="string" resultMap="userMapper">
        select * from (select * from sys_user where username = #{username}) u
        left join sys_user_role ur on u.id = ur.user_id
        left join sys_role r on r.id = ur.role_id
    </select>

</mapper>